name: Build and Test - Pixi

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build VRS on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, macos-14, ubuntu-latest, windows-2019] # macos-14 is macSilicon
    steps:
      - name : Setup repo
        uses: actions/checkout@v4

      - name : Remove Mono framework
        if: runner.os == 'macOS'
        run:
          sudo rm -rf /Library/Frameworks/Mono.framework
          sudo pkgutil --forget com.xamarin.mono-MDK.pkg
          sudo rm /etc/paths.d/mono-commands

      - name : Setup pixi
        uses: prefix-dev/setup-pixi@v0.8.4
        with:
          pixi-version: v0.44.0
          cache: false

      - name: Build
        run: pixi run build

      - name: Test
        run: pixi run test
