name: Build and Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build VRS on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest,  macOS-latest]

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          if [ "$RUNNER_OS" == "Linux" ]; then
            sudo apt-get install \
              cmake ninja-build ccache libgtest-dev libfmt-dev libcereal-dev \
              libjpeg-dev libpng-dev \
              liblz4-dev libzstd-dev libxxhash-dev \
              libboost-system-dev libboost-filesystem-dev libboost-thread-dev libboost-chrono-dev libboost-date-time-dev

          elif [ "$RUNNER_OS" == "macOS" ]; then
              brew install ninja cmake ccache googletest glog fmt cereal \
                  libpng jpeg \
                  lz4 zstd xxhash \
                  boost
          else
              echo "$RUNNER_OS not supported"
              exit 1
          fi

      - name: Configure
        shell: bash
        run: |
          mkdir build
          cmake -S . -B build '-GCodeBlocks - Ninja'
      - name: Build and Test
        shell: bash
        run: |
          cd build
          ninja all
          ctest -j8
